  
  
  .container {
    display: block;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
  }
  
  .display-date {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .display-time {
    font-size: 3em;
  }
  