  
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .display-date {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .display-time {
    font-size: 3em;
  }
  