/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    --ion-color-primary: #003152;
    --ion-color-primary-rgb: 0,49,82;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #002b48;
    --ion-color-primary-tint: #1a4663;
  }
